@import url(https://fonts.googleapis.com/css?family=Leckerli+One:400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great:400);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Leckerli One', handwriting;
  font-size: 5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Fredericka the Great', display;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #125568 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #137ce1 !important;
  border-color: #137ce1 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d559a !important;
  border-color: #0d559a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d559a !important;
  border-color: #0d559a !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #125568 !important;
  border-color: #125568 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #072027 !important;
  border-color: #072027 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #072027 !important;
  border-color: #072027 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #0b4883;
  color: #0b4883;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #137ce1;
  border-color: #137ce1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #137ce1 !important;
  border-color: #137ce1 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #030e11;
  color: #030e11;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #125568;
  border-color: #125568;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #125568 !important;
  border-color: #125568 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #137ce1 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #125568 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b4883 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #030e11 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #125568;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #25aed5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffffff;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffffff;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffffff;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qTEWPC6lbA .nav-item:focus,
.cid-qTEWPC6lbA .nav-link:focus {
  outline: none;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qTEWPC6lbA .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qTEWPC6lbA .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #6796c4;
  background: none;
}
.cid-qTEWPC6lbA .navbar.opened {
  transition: all .3s;
  background: #6796c4 !important;
}
.cid-qTEWPC6lbA .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qTEWPC6lbA .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qTEWPC6lbA .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qTEWPC6lbA .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qTEWPC6lbA .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qTEWPC6lbA .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qTEWPC6lbA .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qTEWPC6lbA .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qTEWPC6lbA .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qTEWPC6lbA .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qTEWPC6lbA .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qTEWPC6lbA .navbar.navbar-short {
  background: #6796c4 !important;
  min-height: 60px;
}
.cid-qTEWPC6lbA .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qTEWPC6lbA .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qTEWPC6lbA .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qTEWPC6lbA .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qTEWPC6lbA .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qTEWPC6lbA .dropdown-item.active,
.cid-qTEWPC6lbA .dropdown-item:active {
  background-color: transparent;
}
.cid-qTEWPC6lbA .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qTEWPC6lbA .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qTEWPC6lbA .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qTEWPC6lbA .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6796c4;
}
.cid-qTEWPC6lbA .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qTEWPC6lbA .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qTEWPC6lbA ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qTEWPC6lbA .navbar-buttons {
  text-align: center;
}
.cid-qTEWPC6lbA button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTEWPC6lbA .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qTEWPC6lbA a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qTEWPC6lbA .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qTEWPC6lbA .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qTEWPC6lbA .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-qTEWPC6lbA .nav-link:hover,
.cid-qTEWPC6lbA .dropdown-item:hover,
.cid-qTEWPC6lbA .icons-menu .mbr-iconfont:hover {
  color: #6796c4 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qTEWPC6lbA .navbar {
    height: 77px;
  }
  .cid-qTEWPC6lbA .navbar.opened {
    height: auto;
  }
}
.cid-qTF2msn4lH .modal-body .close {
  background: #1b1b1b;
}
.cid-qTF2msn4lH .modal-body .close span {
  font-style: normal;
}
.cid-qTF2msn4lH .carousel-inner > .active,
.cid-qTF2msn4lH .carousel-inner > .next,
.cid-qTF2msn4lH .carousel-inner > .prev {
  display: table;
}
.cid-qTF2msn4lH .carousel-control .icon-next,
.cid-qTF2msn4lH .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-qTF2msn4lH .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qTF2msn4lH .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qTF2msn4lH .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-qTF2msn4lH .boxed-slider > div {
  position: relative;
}
.cid-qTF2msn4lH .container img {
  width: 100%;
}
.cid-qTF2msn4lH .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-qTF2msn4lH .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qTF2msn4lH .mbr-table-cell {
  padding: 0;
}
.cid-qTF2msn4lH .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-qTF2msn4lH .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qTF2msn4lH .mbr-overlay {
  z-index: 1;
}
.cid-qTF2msn4lH .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qTF2msn4lH .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-qTF2msn4lH .carousel-item .container {
    width: 100%;
  }
}
.cid-qTF2msn4lH .carousel-item-next.carousel-item-left,
.cid-qTF2msn4lH .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-qTF2msn4lH .active.carousel-item-right,
.cid-qTF2msn4lH .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-qTF2msn4lH .active.carousel-item-left,
.cid-qTF2msn4lH .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-qTF2msn4lH .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-qTF2msn4lH .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qTF2msn4lH .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qTF2msn4lH .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-qTF2msn4lH .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-qTF2msn4lH .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-qTF2msn4lH .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-qTF2msn4lH .mbr-slider .carousel-indicators li.active,
.cid-qTF2msn4lH .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-qTF2msn4lH .mbr-slider .carousel-indicators li::after,
.cid-qTF2msn4lH .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-qTF2msn4lH .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-qTF2msn4lH .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-qTF2msn4lH .mbr-slider > .container img {
  width: 100%;
}
.cid-qTF2msn4lH .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qTF2msn4lH .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-qTF2msn4lH .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qTF2msn4lH .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qTF2msn4lH .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-qTF2msn4lH .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-qTF2msn4lH .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-qTF2msn4lH .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-qTF2msn4lH .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-qTF2msn4lH .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qTF2msn4lH .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-qTF2msn4lH .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-qTF2msn4lH .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-qTFb3yJZZr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/11-3-1440x1080.jpg");
}
.cid-qTFb3yJZZr .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qTFb3yJZZr .main-reverse {
  flex-direction: row-reverse;
}
.cid-qTFb3yJZZr .image-element {
  padding: 0;
  display: flex;
  justify-content: center;
}
.cid-qTFb3yJZZr .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qTFb3yJZZr .text-element {
  padding: 1rem;
}
.cid-qTFb3yJZZr .main,
.cid-qTFb3yJZZr .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-qTFb3yJZZr .main:first-child {
    padding-top: 1rem;
  }
  .cid-qTFb3yJZZr .image-element,
  .cid-qTFb3yJZZr .text-element {
    margin-bottom: 1rem;
  }
  .cid-qTFb3yJZZr .main-reverse {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-qTFb3yJZZr .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-qTFb3yJZZr .image-element,
  .cid-qTFb3yJZZr .text-element {
    margin-bottom: 0;
  }
  .cid-qTFb3yJZZr .main:first-child {
    padding-top: 0;
  }
}
.cid-qTFbi7ZCot {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qTFbi7ZCot .row {
  justify-content: flex-end;
  align-items: stretch;
}
.cid-qTFbi7ZCot .content-panel {
  padding: 3rem;
  background-color: #6796c4;
}
.cid-qTFbi7ZCot .text-block {
  padding-right: 0;
}
.cid-qTFbi7ZCot .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-qTFbi7ZCot .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-qTFbi7ZCot .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-qTFbi7ZCot .google-map .place-card {
  margin-left: 40px !important;
}
.cid-qTFbepB2zG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qTFbepB2zG *:focus {
  outline: none;
}
.cid-qTFbepB2zG .input-wrap {
  padding-bottom: 1rem;
}
.cid-qTFbepB2zG input,
.cid-qTFbepB2zG textarea {
  width: 100%;
  background: #efefef;
  border-radius: 0;
  border: none;
}
.cid-qTFbepB2zG input {
  padding: .5rem;
}
.cid-qTFbepB2zG ::-webkit-input-placeholder {
  color: #000000;
}
.cid-qTFbepB2zG ::-moz-placeholder {
  color: #000000;
}
.cid-qTFbepB2zG :-ms-input-placeholder {
  color: #000000;
}
.cid-qTFbepB2zG :-moz-placeholder {
  color: #000000;
}
.cid-qTFbepB2zG .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #69b9d0;
  border-radius: 50%;
}
.cid-qTFbepB2zG .soc-item:hover {
  opacity: .5;
}
.cid-qTFbepB2zG .soc-item .socicon {
  font-size: 1.5rem;
  color: #69b9d0;
}
.cid-qTFbepB2zG .days-column,
.cid-qTFbepB2zG .hours-column {
  display: inline-block;
}
.cid-qTFbepB2zG .days-column span,
.cid-qTFbepB2zG .hours-column span {
  display: block;
}
.cid-qTFbepB2zG .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-qTFbepB2zG .days-column {
    padding-right: 0 !important;
  }
  .cid-qTFbepB2zG .hours-column {
    max-width: 50% !important;
  }
  .cid-qTFbepB2zG .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-qTEWPC6lbA .nav-item:focus,
.cid-qTEWPC6lbA .nav-link:focus {
  outline: none;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qTEWPC6lbA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qTEWPC6lbA .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qTEWPC6lbA .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #6796c4;
  background: none;
}
.cid-qTEWPC6lbA .navbar.opened {
  transition: all .3s;
  background: #6796c4 !important;
}
.cid-qTEWPC6lbA .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qTEWPC6lbA .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qTEWPC6lbA .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qTEWPC6lbA .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qTEWPC6lbA .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qTEWPC6lbA .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qTEWPC6lbA .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qTEWPC6lbA .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qTEWPC6lbA .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qTEWPC6lbA .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qTEWPC6lbA .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qTEWPC6lbA .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qTEWPC6lbA .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qTEWPC6lbA .navbar.navbar-short {
  background: #6796c4 !important;
  min-height: 60px;
}
.cid-qTEWPC6lbA .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qTEWPC6lbA .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qTEWPC6lbA .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qTEWPC6lbA .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qTEWPC6lbA .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qTEWPC6lbA .dropdown-item.active,
.cid-qTEWPC6lbA .dropdown-item:active {
  background-color: transparent;
}
.cid-qTEWPC6lbA .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qTEWPC6lbA .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qTEWPC6lbA .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qTEWPC6lbA .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6796c4;
}
.cid-qTEWPC6lbA .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qTEWPC6lbA .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qTEWPC6lbA ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qTEWPC6lbA .navbar-buttons {
  text-align: center;
}
.cid-qTEWPC6lbA button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qTEWPC6lbA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qTEWPC6lbA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTEWPC6lbA .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qTEWPC6lbA a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qTEWPC6lbA .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qTEWPC6lbA .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qTEWPC6lbA .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-qTEWPC6lbA .nav-link:hover,
.cid-qTEWPC6lbA .dropdown-item:hover,
.cid-qTEWPC6lbA .icons-menu .mbr-iconfont:hover {
  color: #6796c4 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qTEWPC6lbA .navbar {
    height: 77px;
  }
  .cid-qTEWPC6lbA .navbar.opened {
    height: auto;
  }
}
.cid-qTFisbEHz5 {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-qTFisbEHz5 .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-qTFisbEHz5 .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-qTFisbEHz5 .image-wrap img {
  width: 100%;
}
.cid-qTFisbEHz5 .mbr-desc {
  width: 100%;
}
.cid-qTFisbEHz5 .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-qTFisbEHz5 .nav {
  border: none;
}
.cid-qTFisbEHz5 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qTFisbEHz5 .card-box {
  align-items: baseline;
}
.cid-qTFisbEHz5 .card-box .mbr-price {
  margin: 0;
}
.cid-qTFisbEHz5 .card-box .mbr-text {
  line-height: 1;
}
.cid-qTFisbEHz5 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-qTFisbEHz5 .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-qTFisbEHz5 .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  .cid-qTFisbEHz5 .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-qTFiGzImWt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qTFiGzImWt *:focus {
  outline: none;
}
.cid-qTFiGzImWt .input-wrap {
  padding-bottom: 1rem;
}
.cid-qTFiGzImWt input,
.cid-qTFiGzImWt textarea {
  width: 100%;
  background: #efefef;
  border-radius: 0;
  border: none;
}
.cid-qTFiGzImWt input {
  padding: .5rem;
}
.cid-qTFiGzImWt ::-webkit-input-placeholder {
  color: #000000;
}
.cid-qTFiGzImWt ::-moz-placeholder {
  color: #000000;
}
.cid-qTFiGzImWt :-ms-input-placeholder {
  color: #000000;
}
.cid-qTFiGzImWt :-moz-placeholder {
  color: #000000;
}
.cid-qTFiGzImWt .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #69b9d0;
  border-radius: 50%;
}
.cid-qTFiGzImWt .soc-item:hover {
  opacity: .5;
}
.cid-qTFiGzImWt .soc-item .socicon {
  font-size: 1.5rem;
  color: #69b9d0;
}
.cid-qTFiGzImWt .days-column,
.cid-qTFiGzImWt .hours-column {
  display: inline-block;
}
.cid-qTFiGzImWt .days-column span,
.cid-qTFiGzImWt .hours-column span {
  display: block;
}
.cid-qTFiGzImWt .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-qTFiGzImWt .days-column {
    padding-right: 0 !important;
  }
  .cid-qTFiGzImWt .hours-column {
    max-width: 50% !important;
  }
  .cid-qTFiGzImWt .opening-hours {
    padding-bottom: 48px !important;
  }
}
